{% extends "base.html" %} 
{% block title %} Stats {% endblock %} 

{% block content %}
<h3>Hello {{request.session.name}}! Let's edit your wish!</h3>
<hr />
<!-- 2.1) Error messages if there is an error validation -->
{% if messages %}
<div class="row mb-4">
  <div class="col-md-6">
    <ul id="messageErrors" class="my-0 p-3">
      Error Messages: {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<!-- 2.2) New Wish Form -->
<div class="row">
  <div class="col-md-8">
    <form
      class="border border-secondary p-5"
      action="/wishes/edit_wish/{{wish_selected.id}}"
      method="POST"
    >
      {% csrf_token %}

      <!-- Wish Item -->
      <label for="defaultAddWishFormName">I wish for:</label>
      <input
        type="text"
        id="defaultAddWishFormName"
        class="form-control mb-3"
        name="item"
        value="{{wish_selected.item}}"
      />

      <!-- Wish Description -->
      <label for="defaultAddWishFormName">Description:</label>
      <textarea
        id="defaultAddWishFormName"
        class="form-control"
        name="description"
        rows="5"
      >
{{wish_selected.description}}</textarea
      >

      <!-- Update and Delete button -->
      <div class="text-right">
        <button
          class="btn btn-light mt-4"
          type="submit"
          name="cancel_operation"
        >
          Cancel
        </button>
        <button
          class="btn btn-success mt-4"
          type="submit"
          name="submit_operation"
        >
          Edit
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}